<div class="landing-page">
  <div class="jumbotron">
    <h1 class="title">圆孤儿院孩子们圣诞梦</h1>
    <p class="slogan">圣诞·老人是一个在圣诞节招募圣诞老人的网站。
    <br>
    我们希望由这个网站，招募最有爱心的圣诞老人，为孤儿院的孩子们圆一个圣诞梦。
    <br>
     孩子们翘首以盼你的圣诞礼物呢
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>


  <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://image.flaticon.com/icons/svg/658/658341.svg" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>
            <%= link_to("装扮圣诞老人", page1_index_path) %>
           </h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://image.flaticon.com/icons/svg/658/658342.svg" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>
            <%= link_to("装扮麋鹿", page2_index_path) %>
           </h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://image.flaticon.com/icons/svg/658/658352.svg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>
            <%= link_to("准备礼物", page3_index_path) %>
           </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
        <img src="https://image.flaticon.com/icons/svg/163/163823.svg" alt="search" class = "img-thumbnail">
    <h4>"这个圣诞礼物真是太棒了！"<br><span style="font-style:normal;">Michael Roe</span></h4>
    </div>
    <div class="item">
      <img src="https://image.flaticon.com/icons/svg/163/163824.svg" alt="bid" class = "img-thumbnail">
      <h4>"哇，原来圣诞老人真的会来！"<br><span style="font-style:normal;">John Doe</span></h4>
    </div>
    <div class="item">
      <img src="https://image.flaticon.com/icons/svg/163/163813.svg" alt="bid" class = "img-thumbnail">
      <h4>"明年可以还来吗?"<br><span style="font-style:normal;">Chandler Bing, Actor</span></h4>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Nic 模板 -->
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">在这开心快乐的节日</h2>
        <h4 class="item">他们可能感受不到节日的快乐。因为他们的父母不在身边，他们的家庭收入微薄</h4>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">孩子们的渴望</h2>
          <h4 class="item">在传统的圣诞节来临之际,孩子们渴望圣诞节晚餐有鸡吃。一些孩子从没尝过鸡,因价格过于昂贵</h4>

      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">圣诞狂欢&孩子们幸福的笑脸</h2>
        <a target="_blank" href="http://blog.sina.com.cn/s/blog_537d53a70100o239.html">点这里看看我们的活动</a>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
</div>
